<div>
  <div *ngIf="quizzettone.length > i; else noMoreQuestions">
    <div>
      <h1>{{quizzettone[i].domanda}}</h1><br>
      <div>
        <p>
          <a class="reply" (click)="onSelect(quizzettone[i].risp1)" [class.selected] = "quizzettone[i].risp1 === answer">{{quizzettone[i].risp1}}</a>
          <a class="reply" (click)="onSelect(quizzettone[i].risp2)" [class.selected] = "quizzettone[i].risp2 === answer">{{quizzettone[i].risp2}}</a><br>
          <a class="reply" (click)="onSelect(quizzettone[i].risp3)" [class.selected] = "quizzettone[i].risp3 === answer">{{quizzettone[i].risp3}}</a>
          <a class="reply" (click)="onSelect(quizzettone[i].risp4)" [class.selected] = "quizzettone[i].risp4 === answer">{{quizzettone[i].risp4}}</a><br>
        </p>
      </div>
      <div>
        <button (click)="continue()">Avanti</button>
        <button (click)="back()">Indietro</button>
      </div>
    </div>
  </div>
  <ng-template #noMoreQuestions>
    {{checkAnswer()}}
    <h1>Domande Finite</h1>
    <h1>Punti totali su {{quizzettone.length}}: {{points}}</h1>
  </ng-template>
</div>